@inherits LayoutComponentBase
@layout CWA.FacilityManager.Server.Components.Layout.MainLayout

<div class="container">
    <h1>Admin panel</h1>
    <hr/>
    <div class="row">
        <div class="col-lg-3">
            <AdminNavMenu/>
        </div>
        <div class="col-lg-9">
            @Body
        </div>
    </div>
</div>

